.barra {
    background-color: rgb(78, 63, 94);
}

.barra ul {
    list-style: none;
}

.barra ul li {
    display: inline-block;
}

.barra ul li a{
    text-decoration: none;
    display: block;
    color:whitesmoke;
    padding: 20px;
}

.barra ul li a:hover {
    background-color: royalblue;
}

.barra ul li a:hover h1 {
    text-decoration:aliceblue;
}

h1 {color:violet;text-align: center;}

body {
    background-color: thistle;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: skyblue;
}

.contenedor {
    width: 90%;
    max-width: 1200 px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor > div {
    background-color: rgb(165, 90, 136);
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background-color: rgb(170, 33, 97);
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.contenedor .contenido {
    grid-column: span 2;
    background-color: rgb(156, 58, 58);
}

.contenedor .sidebar {
    background-color: aquamarine;
    grid-row: span 2;
    text-align: center;
}

@media screen and (max-width:720px){
    body {
        background-color: floralwhite;
    }

    .contenedor .contenido {
        grid-column: 1 / -1;
    }

    .contenedor .sidebar {
        grid-column: 1 / -1;
    }

    .contenedor .widget-1 {
        grid-column: span 2;
    }
}
h1 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Akaya Telivigala', cursive;
}